<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/api/random-user-add" method="post">
      <button type="submit"> Add Record</button>
    </form>

    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <td><%= record.id %></td>
            <td><%= record.name %></td>
            <td><%= record.gender %></td>
            <td><%= record.email %></td>
            <td>
              <!-- Delete Record Button -->
              <form action="/api/delete-recored/<%= record.id %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
